body {
    background-color: #d8d5d5;
}
.container {
    
    text-align: center;
}
h1 {
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 200;
    color:rgba(221, 136, 221, 0.2) ;
}

ul {
    margin: auto;
      list-style: none;
      margin-top: 10%;
      background-color:rgba(221, 136, 221, 0.2);
      border-radius: 5px;
      box-shadow: 2px 4px 8px;
      width: 50%;

  }  
    #people {
    color:#fff;
}